*{
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

/*_________________________________HEADER_______________________________________*/
header{
  justify-content: center;
  background-color: #273746;
  color: white;
  text-align: center;

}
#textheader{
  display:flex;
  flex-direction:column;


}
.textheader{
  padding-bottom: 0.5%;
  color: white;
  text-decoration: none;

}

/*_________________________________PHOTO QUIZZ________________________________________*/
.imageQuizz{
}

#imageQuizz{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  border:none;
}
body{
  background-color: grey;
}
/*_________________________________GENERAL____________________________________*/

.text {
    background: #273746;
    color: white;
    display: flex;
    flex-direction: column;
}

img{
  text-align: center;
  background-color: grey;
}
/*_________________________________QUIZZ_______________________________________*/
.question1{
  color: black;
  background-color: #CACFD2  ;
  justify-content: center;
  padding: 0.5%;
  background-color: grey;
}

.question1:hover{
  color: #CACFD2;
  background-color: grey;
}

.titre{
  margin-bottom:5%;
}

#content{
font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;

}

#titrePage{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
  background-color:#AEB6BF
}

#questionContent{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.input{
border: none;
border-bottom: 0.3rem solid transparent;
border: none;
border-radius:0.2em;

}

/*_________________________________BOT________________________________________*/


                /*________________bouton__________________________*/
.bouton{
  text-align: center;
}

.bouton1{
  font:Bold 100px Arial;
  background:#d34836;
  color: white;
  border-radius:10px;
  margin-right:0.5%;
}

.bouton1:hover {
    background-color: grey;
}

.bouton1:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton2{
  font:Bold 100px Arial;
  background:#d34836;
  color: white;
  border-radius:10px;
}

.bouton2:hover {
    background-color: grey;
}

.bouton2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.boutonSubmit{
	height: auto;
	display: flex;
	justify-content: center;
  background-color:#AEB6BF;

}

.buttonSubmit{
  background-color: var(--colorSite);
  color: black;
  padding: 5%;
  border-radius: 10%;
  opacity: 0.8;
  font-weight: bolder;
  margin-top:5%;
  margin-bottom:5%;
}
/*_________________________________REGISTER________________________________________*/
.registerlink{
  color: black;

}
/*___________________________________JSP____________________________________________-*/

.botText{
  padding-top: 0.7%;
  display: grid;
  justify-content: center;
  color: #303030;
  font-size: 150%;
}



.container{
  background: #303030;
}
.subtitle{
  word-spacing: normal;
  word-spacing: 1.5em;
  text-indent: 1%;
  padding-bottom: 0.5%;
}

.onglet{
  color: black;
}

/*_________________________________FOOTER________________________________________*/
footer{
  position:absolute;
  position:fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #273746;
  color: white;
  text-align: center;
  display: flex;
  height:5%;
  background-color: #273746;
  flex-direction: column;

}

.textfooter{
  text-decoration: none;
  color: white;
}
