/*_________________________________Head_______________________________________*/
header{
  justify-content: center;
  background-color: #273746;
  padding-bottom: 5%;
  color: white;
  text-align: center;
}


/*_________________________________Foot_______________________________________*/

footer{
  justify-content: center;
  background-color: #273746;
  padding-bottom: 5%;
  color: white;
  text-align: center;
}

/*_________________________________General____________________________________*/

.text {
    background: #273746;
    color: white;
    display: flex;
    flex-direction: column;
}

img{
  text-align: center;
  background: #273746;
}
