*{
  text-decoration: none;
}

.picture
{
    height: 150px;
    width: 150px;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
}

.picture img
{
    max-height: 150px;
    max-width: 150px;
}

/*_________________________________Bot________________________________________*/


/*__________________bouton____________*/
.bouton{
  text-align: center;
}

.bouton1{
  font:Bold 100px Arial;
  background:#d34836;
  color: white;
  border-radius:10px;
}

.bouton1:hover {
    background-color: grey;
}

.bouton1:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton2{
  font:Bold 100px Arial;
  background:#d34836;
  color: white;
  border-radius:10px;
}

.bouton2:hover {
    background-color: grey;
}

.bouton2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*_________________________________Register________________________________________*/
.registerlink{
  color: black;

}
/*____________________-*/

.botText{
  padding-top: 0.7%;
  display: grid;
  justify-content: center;
  color: #303030;
  font-size: 150%;
}

.footer{
  justify-content: center;
  background-color: grey;
  padding-bottom: 2%;
}

.container{
  background: #303030;
}
.subtitle{
  word-spacing: normal;
  word-spacing: 1.5em;
  text-indent: 1%;
  padding-bottom: 0.5%;
}

.onglet{
  color: black;
}
