.picture
{
    height: 150px;
    width: 150px;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
}

.picture img
{
    max-height: 150px;
    max-width: 150px;
}

/*_________________________________Bot________________________________________*/


.botText{
  padding-top: 0.7%;
  display: grid;
  justify-content: center;
  color: #4C7125;
  font-size: 150%;
}

.footer{
  justify-content: center;
  background-color: #ff001b;
  padding-bottom: 2%;
}

.container.text{
  background: #6397E6;
}
.subtitle{
  word-spacing: normal;
  word-spacing: 1.5em;
  text-indent: 1%;
  padding-bottom: 0.5%;
}

.onglet{
  color: black;
}
