.question1{
  color: black;
  background-color: #87CEFA;
  justify-content: center;
  padding: 3%;
}

.question1:hover{
  color: #87CEFA;
  background-color: grey;
}

.titre{
  margin-bottom: : : 5%;
}
